.Bmodal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Bmodal-header,.Bmodal-footer{
    padding: 10px;
    text-align: center;
}
.Bmodal-content{
    width: 1000px;
    height: 700px;
    background-color: #fff;
}
.Bmodal-title{
    margin: 0;
}
.Bmodal-body{
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    overflow-y: scroll;
    max-height: 90%;
}
.BagModal{
    width: 500px;
    height: 570px;
    object-fit: cover;
    margin-left: 250px;


}
@media screen and (max-width: 600px) {

.BagModal{
    width: 400px;
    height: 520px;
    margin-left: 0px;

}

}
