.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    background: white /*rgba(51, 147, 221, 0.8) 50.83%*/;
    margin-bottom: 2px;
    margin-top: 2px;
    box-shadow: 0px 30px 10px -15px #f5f5f5;

}

.nav-container .navbar {
    width: auto;
    margin: auto;
}

.nav-container .navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-container .navigation ul li {
    margin-right: 40px;
    text-decoration: none;
}

.Icons{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap:20px;
}

.SearchContainer{
    width: 300px;

  display: block;
  margin: 0 auto;
}

.SearchBar{
    margin: 0 auto;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 0.5 rem;
  background-color: #f5f5f5;
  border: none;
  outline: none;


}

.SearchBar:focus{

    background-color: white;
    transition: 0.35s ease;

}

::placeholder {
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
  }

  .IconButton{
      cursor: pointer;
      background-color: none;

  }

@media (max-width: 650px) {
    .nav-container .navbar .navigation{
      width: 10%;
    }
    .SearchContainer{
      display: none;
    }
    .navigation{
        display: none;
    }
  }
